*{
    margin :0;
    padding: 0;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
}
body {    
    margin: 0px;
    /* background: radial-gradient(circle, rgba(255,178,245,1) 0%, rgba(255,142,190,1) 100%); */
    background-image: url(Colored\ Shapes.svg);
    background-size: cover;  
    background-repeat: no-repeat;
    height: 100vh;
  }
/* HEADING */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: rgba(12, 12, 12, 0.85);
    border-radius: 0px 0px 30px 30px;
    animation: movedown 1s;
    }

    @keyframes movedown {
        from {
            transform: translateY(-50px);
        }
        to {
            transform: translateY(0);
        }
    }
.logo h1 {
    transition: .5s;
    color: azure;
}

.logo h1:hover {
    color: rgb(197, 28, 250);
}

.join button {
    font-size: 20px;
    transition: .5s;
    padding: 0px 8px;
    width: 100px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}

.join button:hover {
    color: rgb(197, 28, 250);
    
}
    /* Box */
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        animation: fadeIn 3s;
        animation-delay: 0.5s;
        opacity: 0;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
.contanier{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.todo,.pomodoro,.reward{
    border-radius:10px ;
    margin-top: 100px;
    background-color: rgb(12, 12, 12);
    border: 2px;
    height: 350px;
    width: 300px;
    padding: 20px;
    /* box-sizing: border-box; */
    border: 1px solid violet;
    box-shadow: 10px 10px 0px  rgb(236, 94, 236);
}
.reward{
    margin-bottom: 100px;
}

/* Main Box Style */
.main {
    width: 280px;
    color: white;
    padding: 10px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: rgb(197, 28, 250);
}

.scroll {
    height: 220px;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
  }
  

/* Heading Style */

.heading {
    text-align: center;
    color: aliceblue;
}

/* Button and Input Style */

.newItem,
.addBtn,
.btnTask {
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 5px;
    font-size:15px ;
    background-color: rgb(197,28,250);
    cursor: pointer;
}
::placeholder{
    color: white;
    font-size: 14px;
}

.newItem:focus,
.addBtn:focus,
.btnTask:focus{
    outline: 0;
}

.newItem {
    width: 70%;
    color: aliceblue;
    margin-left: 7px;
    border: 2px solid transparent;
}
.newItem:hover{
      border: 2px solid rgb(0, 0, 0);
}

.addBtn {
    width: 43px;
    color: antiquewhite;
    margin-left: 5px;
    border: none;
    transition: 0.5s;
}

.addBtn:hover {
    background-color: rgb(10, 10, 10);
    font-size:17px;
}

.btnTask {
    border: 1px solid transparent;
    border-radius: 0px 5px 5px 0px;
    margin: 0;
    display: inline;
    align-items: right;
    
}
.btnTask:hover{
    border: 1px solid rgb(12, 12, 12);
    color: azure;
    background-color: rgb(12, 12, 12);
}

/* To-Do List Style */

.toDoList li{
    margin: 5px 6px;
    display: flex;
    justify-content: space-between;
}

.nameTask {
    width: 100%;
    margin: 0;
    display: inline;
    border-radius: 5px 0 0 5px;
    font-size: 15px;
    cursor: pointer;
}

.nameTask:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-right: 0;
    border: 1px solid rgb(0, 0, 0);
}

/* Task Panell Style */

.taskPanell {
    width: 280px;
    color: white;
    margin-top:20px;
    padding: 10px;
    
    border-radius: 5px;
    background-color: rgb(197, 28, 250);
}

.taskPanell p {
    margin-left: 10px;
    font-size: 15px;
}

.taskPanell p span {
    font-weight: bolder;
    font-size: 15px;
}

/* Changing the position of containers, so they can fit perfectly on the screen */

@media (max-width: 450px) {
    .contanier{
        align-items:flex-start;
    }
}
/* POMODORO COLOCK */
#main {
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

}

#message {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 300px;
    margin-bottom: 4px;
    margin-top: 70px;
}

#message span {
    font-size: 14px;
}

#message span:first-child {
    padding: 4px;
}

#message span:last-child {
    
    cursor: pointer;
    padding: 4px;
}

#timer {
    margin: 0 0 24px 0;
    font-size: 84px;
}

#btns {
   display: flex;
   justify-content: center;
   width: 300px;
}

#startBtn,
#pauseBtn,
#resumeBtn,#resetBtn {
     width: 150px;
    font-size: 28px;
    outline: none;
    text-decoration: underline;
    text-decoration-color:  violet;

    background-color: rgb(12, 12, 12);
    border: none;
    color: white;

}

/* LEVEL */

.level {
    width: 100%;
    margin-top: 40px;
    color: wheat;
}

.reward{
    text-align: center;
}

.nextHead{
    margin-top: 10px;
    color: wheat;
}
.silverGold{
    margin-top: 50px;
}
.gold{
    font-size:25px;
    color: aliceblue;
}
.silver{
    margin-top: 12px;
    font-size:25px;
    color: aliceblue;    
}
.cover{
    width: 100%;
    height: 10px;
    background-color: #262626;
    border:1px solid violet;
    border-radius: 2px;
}
.cover .progressbar{
    height: 6px;
    width: 0%;
    background-image:linear-gradient(to right, violet, rgb(212, 23, 212));
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 2px;
}
.leveltext{
    font-size: 30px;
    color: aliceblue;
}

#levelnum{
    font-size: 100px;
}